version: "3.8"
services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-flashcart}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  web:
    build: .
    command: gunicorn flashcart.asgi:application -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000 --workers 2
    volumes:
      - .:/app
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis

  worker:
    build: .
    command: celery -A flashcart worker -l info -Q default
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - redis
      - postgres

  beat:
    build: .
    command: celery -A flashcart beat -l info
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - redis
      - postgres

volumes:
  postgres_data:
